/******** variables ********/
/******** reset ********/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Libre Bodoni", sans-serif;
  font-size: calc(1.5vh + 1vw + 1%);
  scroll-behavior: smooth;
  text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: #000000;
}

p {
  line-height: 1.5;
}

/******** utilities ********/
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}

.none {
  display: none;
}

/******** components ********/
/* alerts */
.swal-text {
  font-size: 1rem;
}

/* cart */
.shopping-cart {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.shopping-cart .cart-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: 2px solid #000000;
  padding: 0;
  background-color: #FFFFFF;
  overflow: hidden;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  font-family: "Libre Bodoni", sans-serif;
  font-size: 1rem;
}

.shopping-cart .cart-btn:hover {
  background-color: #000000;
}

.shopping-cart .cart-btn:hover svg {
  -webkit-transform: translateX(4rem);
          transform: translateX(4rem);
}

.shopping-cart .cart-btn:hover p {
  color: #FFFFFF;
  -webkit-transform: translateX(-4rem);
          transform: translateX(-4rem);
}

.shopping-cart .cart-btn p {
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  margin: 0;
  padding: 0 1rem;
  z-index: 2;
}

.shopping-cart .cart-btn svg {
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  fill: #FFFFFF;
  background-color: #000000;
}

@media screen and (min-width: 576px) {
  .shopping-cart .cart-btn:hover p {
    -webkit-transform: translateX(-2.5rem);
            transform: translateX(-2.5rem);
  }
}

/* ventana modal */
.cart-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: scale 0.1s linear;
  transition: scale 0.1s linear;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.cart-container .cart {
  position: relative;
  height: 70%;
  width: 80%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4rem 0 4rem 0;
}

.cart-container .cart svg {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ff0000;
  fill: #FFFFFF;
  cursor: pointer;
}

.cart-container .cart svg:hover {
  background-color: #da1818;
}

.cart-container.active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

/* menu */
.menu-btn {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.menu-btn svg {
  fill: #FFFFFF;
}

.menu {
  position: fixed;
  left: 0;
  top: 4rem;
  width: 100%;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.menu a {
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: #000000;
  border-top: 2px solid #000000;
}

.menu a:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (min-width: 1024px) {
  .menu-btn {
    display: none;
  }
  .menu {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 1;
    pointer-events: auto;
    width: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .menu a {
    color: #FFFFFF;
    background-color: #000000;
    padding: 0 1rem;
    border: none;
  }
  .menu a:hover {
    background-color: #000000;
  }
}

/* title */
.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title .line {
  display: inline-block;
  border: 1px solid #000000;
  width: 100%;
}

.title .title-content {
  display: inline-block;
  padding: 0 1rem;
}

/* card */
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0.5rem;
  padding: 0;
  border: 1px solid #000000;
  width: 200px;
  overflow: hidden;
  text-align: center;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.card:hover {
  -webkit-box-shadow: 0 0 1rem rgba(33, 33, 33, 0.2);
          box-shadow: 0 0 1rem rgba(33, 33, 33, 0.2);
}

.card .card-image {
  background-image: url("https://via.placeholder.com/200");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  height: 150px;
}

.card .card-text h5 {
  font-size: 1.2rem;
  margin: 0.5rem;
}

.card .card-text p {
  font-size: 1rem;
}

.card .card-btn {
  border: none;
  background-color: #000000;
}

.card .card-btn button {
  border: none;
  background-color: transparent;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card .card-btn button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/* cart item*/
/******** styles ********/
.header {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  height: 4rem;
  background-color: #000000;
  padding: 1rem;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .logo a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  font-size: 2rem;
}

.catalogue-container #products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/*# sourceMappingURL=style.css.map */