/******** variables ********/
$font: 'Libre Bodoni', sans-serif;
$font-size: calc(1.5vh + 1vw + 1%);
$max-width: 1400px;
$base-color: #000000;
$base-color-alt: #FFFFFF;
$base-color-alpha: rgba(0, 0, 0, 0.8);


/******** reset ********/
html {
    box-sizing: border-box;
    font-family: $font;
    font-size: $font-size;

    scroll-behavior: smooth;
    text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
};

*,*::before,*::after {
    box-sizing: inherit;
};

body {
    margin: 0;
    overflow-x: hidden;
    color: $base-color;
};

p {
    line-height: 1.5;
};

/******** utilities ********/
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: $max-width;
};

.none {
    display: none;
};

.responsive {
    width: 100%;
    max-width: 200px;
    height: auto;
};

/******** components ********/

/* alerts */
.swal-text {
    font-size: .85rem,
};

/* cart */
.shopping-cart{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 999;

    .cart-btn {
        display: flex;
        align-items: center;
        cursor: pointer;
        border: 2px solid $base-color;
        padding: 0;
        background-color: $base-color-alt;
        overflow: hidden;
        transition: all .6s ease;

        font-family: $font;
        font-size: 1rem;

        &:hover{
            
            background-color: $base-color;

            svg {
                transform: translateX(4rem);
            };

            p {
                color: $base-color-alt;
                transform: translateX(-4rem)
            };
        };

        p {
            transition: all .6s ease;
            margin: 0;
            padding: 0 1rem;
            z-index: 2;
        };

        svg {
            transition: all .6s ease;
            fill: $base-color-alt ;
            background-color: #000000
        };
    };
};

@media screen and (min-width: 576px) {
    .shopping-cart .cart-btn:hover{
        p {
            transform: translateX(-2.5rem)
        };
    };
};

/* carousel */
.swiper {
    height: 660px;
    z-index: 10!important;
    
    .swiper-slide{
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 11!important;

            h2 {
               background-color: rgba(241, 241, 241, 0.5);
               padding: 10px; 
               text-align: center;

               span {
                   display: block;
                   line-height: 2;
               };
            };
    };

    .swiper-button-prev, .swiper-button-next, .swiper-pagination {
        filter: brightness(0%);
        z-index: 12!important;
    };
  }; 

/* ventana modal */
.cart-container {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.8);
	transition: scale 0.1s linear;
    transform: scale(0);


    .cart {
        position: relative;
        padding: 10px;
        height: 70%;
        width: 80%;
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 4rem 0 4rem 0 ;

        svg {
            z-index: 999;
            position: absolute;
            right: 0;
            top: 0;
            background-color: #ff0000;
            fill: $base-color-alt;
            cursor: pointer;

            &:hover{
                background-color: #da1818
            };
        };

        .cartDisplay {
            overflow-y: scroll;
        };
    };
};

.cart-container.active {
    transform: scale(1);
};


/* menu */
.menu-btn {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;

    svg {
        fill: $base-color-alt;
    };
};

.menu {
    position: fixed;
    left: 0;
    top: 4rem;
    width: 100%;
    background-color: $base-color-alt;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
    z-index: 999!important;


    a {
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: $base-color;
        border-top: 2px solid $base-color;

        &:hover{
            background-color: $base-color-alpha;
        };
    };
};

.menu.is-active {
    opacity: 1;
    pointer-events: auto;
    z-index: 999;
};

@media screen and (min-width: 1024px) {
    .menu-btn {
        display:none;
    };

    .menu {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 999;
        opacity: 1;
        pointer-events: auto;
        width: auto;
        flex-direction: row;

        a {
            color: $base-color-alt;
            background-color: $base-color;
            padding: 0 1rem;
            border: none;
            z-index: 999;
            &:hover{
                background-color: $base-color;
            };
        };
    };
};

/* title */
.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .line{
        display: inline-block;
        border: 1px solid $base-color;
        width: 100%;
    };
    .title-content {
        display: inline-block;
        padding: 0 1rem;
    };

};

/* card */
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.5rem;
    padding: 0;
    border: 1px solid $base-color;
    width: 300px;
    overflow: hidden;
    text-align: center;
    transition: box-shadow 0.3s;

    &:hover{
        box-shadow: 0 0 1rem rgba(33, 33, 33, 0.2);
    };

    .card-image{
        width: 300px; height: 300px;

        img {
            width: 100%;
            align-self: center;
            justify-self: center;
        };
    };

    .card-text{
        h5 {
            font-size: 1rem;
            margin: 0.5rem;
        };
        p {
            font-size: 1rem;
        };
    };

        
        button {
            width: 100%;
            border: none;
            background-color: $base-color;
            color: $base-color-alt;
            cursor: pointer;

            p {
                transition: all 0.3s ease;
            };

            &:hover p{
                transform: scale(1.2)
            };
        };

};

/* cart item*/
.cartItem--container{
    display: flex;
    flex-wrap: nowrap;
    padding: 15px;
    border-top: 2px solid $base-color;
    z-index: 1;

    .cartItem--info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5px;
    };
}

/******** styles ********/
.header {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    height: 4rem;
    background-color: $base-color;
    padding: 1rem;
    z-index: 999!important;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo a {
            color: $base-color-alt;
            text-decoration: none;
            font-weight: 700;
            font-size: 2rem;
        };
    };
};

.catalogue-container {

    #products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    };
};

.info-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    padding: 2rem;
    background-color: $base-color;
    color: $base-color-alt;
    .info-left { 
        padding: 1rem;
        text-align: center;
    };
    .info-right {
        padding: 1rem;
        text-align: center;
    };
};

.marcas{
    h2{
        text-align: center;
    };

    .display{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .brand-container {
            max-width: 200px;
            img{
                width: 100%
            }
        };
    }
};
    
.footer {
    .footer-c {
        text-align: center;
        background-color: $base-color;
        color: $base-color-alt;
        padding: 0.5rem;

        h5 {
            margin: 0;
        };
    };

    .footer-r {
        text-align: center;
    };
};

.buttons {
    button {
        cursor: pointer;
        border: 2px solid $base-color;
        font-family: $font;
        font-size: 1rem;
    };

    .btn-restar {
        background-color: $base-color-alt;
        color: $base-color;
    };

    .btn-remover {
        background-color: $base-color;
        color: $base-color-alt;
    };
};
